fastapi
uvicorn[standard]
pydantic
pandas
numpy
scikit-learn
joblib
openpyxl
python-multipart
hdbscan
umap-learn
python-dotenv
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]